@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none; }

html {
  height: 101%; }

/* always display scrollbars */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

input {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Roboto";
  src: url("/_libs/fonts/Roboto-Regular.eot");
  src: url("/_libs/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/_libs/fonts/Roboto-Regular.woff") format("woff"), url("/_libs/fonts/Roboto-Regular.ttf") format("truetype"), url("/_libs/fonts/Roboto-Regular.svg#Roboto") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("/_libs/fonts/Roboto-Medium.eot");
  src: url("/_libs/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("/_libs/fonts/Roboto-Medium.woff") format("woff"), url("/_libs/fonts/Roboto-Medium.ttf") format("truetype"), url("/_libs/fonts/Roboto-Medium.svg#Roboto") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("/_libs/fonts/Roboto-Black.eot");
  src: url("/_libs/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("/_libs/fonts/Roboto-Black.woff") format("woff"), url("/_libs/fonts/Roboto-Black.ttf") format("truetype"), url("/_libs/fonts/Roboto-Black.svg#Roboto") format("svg");
  font-weight: 900;
  font-style: normal; }

.btn-main {
  display: inline-block;
  min-width: 9.75rem;
  height: 2.25rem;
  padding: 0 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  background: #504f7c;
  font-family: "Fira Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2.25rem;
  outline: none;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.125rem 1.25rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.375rem;
  transition: all 150ms ease-in; }
  .btn-main::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 30%;
    border-radius: 0.375rem;
    background: white;
    opacity: 0;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .btn-main::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    background: white;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    z-index: -1; }
  .btn-main:focus {
    box-shadow: 0 0.125rem 1.25rem 0 rgba(0, 0, 0, 0.5);
    outline: none; }
  .btn-main:active, .btn-main:hover, .btn-main:focus {
    transition: all 0.4s ease-in, box-shadow 0.1s ease-in 0.3s,background 0.1s ease-in 0.2s; }
    .btn-main:active::before, .btn-main:hover::before, .btn-main:focus::before {
      opacity: 1;
      background: rgba(79, 178, 120, 0);
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in, height 0.1s ease-in 0.2s; }
  .btn-main:disabled {
    cursor: not-allowed;
    opacity: .5; }
  .btn-main.btn-main__success {
    background: #38af90;
    background: linear-gradient(to top, #38af90, #78b84d); }
    .btn-main.btn-main__success::after {
      background: linear-gradient(to top, #38af90, #78b84d); }
    .btn-main.btn-main__success:hover {
      background: #4fb278;
      box-shadow: 0 0 1.25rem 0 rgba(79, 178, 120, 0.6); }
    .btn-main.btn-main__success:active, .btn-main.btn-main__success:focus {
      background: #4fb278;
      box-shadow: 0 0 1.25rem 0 #4fb278; }
  .btn-main.btn-main__danger {
    background: linear-gradient(to bottom, #ee4949 0%, #c72339 100%);
    margin-left: 0.75rem; }
    .btn-main.btn-main__danger::after {
      background: linear-gradient(to bottom, #ee4949 0%, #c72339 100%); }
    .btn-main.btn-main__danger:hover {
      background: linear-gradient(to bottom, #ff6673 0%, #d04250 100%);
      background: #e24b4b;
      box-shadow: 0 0 1.25rem 0 rgba(228, 86, 86, 0.6); }
    .btn-main.btn-main__danger:active, .btn-main.btn-main__danger:focus {
      background: linear-gradient(to bottom, #fc4757 0%, #b9313d 100%);
      background: #e24b4b;
      box-shadow: 0 0 1.25rem 0 #e45656; }

#loader {
  display: none;
  background: url("/_libs/images/loader-page-bg.png") no-repeat center top #201F36;
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 999999; }
  #loader .wait {
    display: block;
    color: #ffffff;
    font-size: 1.625rem;
    font-weight: 400;
    margin-top: 100px; }
    #loader .wait img {
      display: block;
      margin: 0 auto 10px; }
  #loader .loader-text,
  #loader .loader-link {
    display: block;
    text-align: center;
    margin: 10px auto 0;
    width: 600px; }
  #loader .loader-link {
    display: none;
    font-size: 14px; }
    #loader .loader-link a {
      font-size: 14px;
      cursor: pointer;
      transition: color .1s linear;
      text-decoration: none;
      color: #B093FF; }
      #loader .loader-link a:hover {
        color: #ffffff; }
      #loader .loader-link a:active {
        color: #5c5991; }

#spinner {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100; }

form, .form-for-spinner {
  position: relative !important; }

.dark_layer_for_banner {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; }
  .dark_layer_for_banner .banner {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto; }
    .dark_layer_for_banner .banner .cross {
      position: absolute;
      cursor: pointer;
      display: inline-block; }
    .dark_layer_for_banner .banner .text {
      font-weight: normal;
      font-style: normal; }
      .dark_layer_for_banner .banner .text p,
      .dark_layer_for_banner .banner .text .timer {
        display: inline-block; }
    .dark_layer_for_banner .banner .guest_btn {
      display: inline-block;
      cursor: pointer; }

#bannerito {
  display: none;
  z-index: 1111;
  position: absolute;
  border: 1px solid black;
  top: 50px;
  right: 50px;
  height: 150px;
  width: 150px; }
  #bannerito .timer span {
    position: absolute;
    font-size: 28px;
    top: 68px;
    left: 107px; }
  #bannerito .cross {
    position: absolute;
    top: 2px;
    right: -22px;
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 60px; }

.modal-footer:not(.modal-footer_btns) .btn-main.btn-main__success, .modal.dfa-popup .btn-main.btn-main__success {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
  max-width: 16.875rem;
  height: 3rem; }

.modal {
  background-image: linear-gradient(to top, #23233a, #2a2a49 83%, #23233a);
  border-radius: 0.375rem;
  padding-bottom: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 29.125rem;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  transition: top 200ms ease-in;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
  z-index: 10; }
  .modal a,
  .modal #restore_passwd {
    cursor: pointer;
    transition: color .1s linear;
    text-decoration: none;
    color: #504f7c; }
    .modal a:active, .modal a:focus, .modal a:hover,
    .modal #restore_passwd:active,
    .modal #restore_passwd:focus,
    .modal #restore_passwd:hover {
      color: #5e5d8f; }
    .modal a:active, .modal a:focus,
    .modal #restore_passwd:active,
    .modal #restore_passwd:focus {
      color: #5C5991;
      outline: none; }
  .modal form input[type='email'],
  .modal form input[type='password'],
  .modal form input[type='text'] {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
    padding-left: 0;
    border: none;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    color: #fff;
    transition: all .2s ease-in;
    font-weight: 300;
    font-family: "Fira Sans",sans-serif; }
    .modal form input[type='email']:disabled,
    .modal form input[type='password']:disabled,
    .modal form input[type='text']:disabled {
      border-color: #484771;
      box-shadow: none; }
  .modal form input[type='checkbox'] {
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
    color: #636379;
    text-transform: uppercase;
    transition: all .2s ease-in;
    display: none; }
    .modal form input[type='checkbox'] + label {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5;
      display: inline-block;
      cursor: pointer;
      color: #a9aaba; }
      .modal form input[type='checkbox'] + label .input__checkbox {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        position: relative;
        background-color: #44435a;
        border-radius: 0.25rem;
        transition: all 150ms .2s;
        top: 0.125rem;
        margin-right: 0.375rem; }
      .modal form input[type='checkbox'] + label .input__check {
        width: 0.6875rem;
        height: 0.375rem;
        left: 0.25rem;
        top: 0.1875rem;
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        position: absolute; }
        .modal form input[type='checkbox'] + label .input__check::before {
          content: '';
          position: absolute;
          display: block;
          left: 0;
          right: 0;
          width: 0.125rem;
          height: 0;
          background-color: #25243c;
          border-radius: 0.0625rem;
          -ms-transform-origin: top;
              transform-origin: top;
          transition: height .1s ease-in .1s; }
        .modal form input[type='checkbox'] + label .input__check::after {
          content: '';
          position: absolute;
          display: block;
          left: 0;
          bottom: 0;
          height: 0.125rem;
          width: 0;
          background-color: #25243c;
          border-radius: 0.0625rem;
          -ms-transform-origin: left;
              transform-origin: left;
          transition: width .1s ease-in; }
    .modal form input[type='checkbox']:checked + label .input__checkbox {
      background-color: #4da481; }
    .modal form input[type='checkbox']:checked + label .input__check::before {
      height: 0.375rem;
      transition: height .1s ease-in; }
    .modal form input[type='checkbox']:checked + label .input__check::after {
      width: 0.5rem;
      transition: width .1s ease-in .1s; }
  .modal form label {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    display: block;
    text-align: left; }
  .modal form .input-row.center {
    text-align: center; }
  .modal form .input-row.code-bg {
    background: radial-gradient(circle at 52% 42%, #383755, #2a2b3a);
    padding: 0.8125rem 0.8125rem 0; }
    .modal form .input-row.code-bg label {
      position: relative;
      margin-bottom: 0; }
      .modal form .input-row.code-bg label input {
        font-size: 1.75rem;
        text-align: center;
        letter-spacing: 0.375rem;
        line-height: 2.625rem;
        margin: 0 auto;
        padding: 0.25rem 0 0.75rem 0.375rem;
        max-width: 8.25rem;
        width: 8.25rem;
        height: 3.625rem; }
      .modal form .input-row.code-bg label:before, .modal form .input-row.code-bg label:after {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        max-width: 16.875rem;
        height: 0.0625rem;
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        transition: all .2s ease-in; }
      .modal form .input-row.code-bg label:before {
        background-color: #48485e;
        width: 0;
        z-index: 2; }
      .modal form .input-row.code-bg label:after {
        background-color: #48485e;
        width: 100%; }
    .modal form .input-row.code-bg .hint-message {
      display: block !important;
      font-size: 0.6875rem;
      letter-spacing: 0.0125rem;
      line-height: 1;
      margin-bottom: 0;
      padding-top: 0.125rem;
      min-height: 1.75rem;
      transition: all .2s ease-in; }
    .modal form .input-row.code-bg.input-focused label:before, .modal form .input-row.code-bg.input-success label:before, .modal form .input-row.code-bg.input-warning label:before, .modal form .input-row.code-bg.input-error label:before {
      width: 100%;
      transition: all .2s ease-in, background-color 0s; }
    .modal form .input-row.code-bg.input-focused label:before {
      background-color: #ffffff; }
    .modal form .input-row.code-bg.input-focused input,
    .modal form .input-row.code-bg.input-focused input:-ms-input-placeholder,
    .modal form .input-row.code-bg.input-focused .hint-message,
    .modal form .input-row.code-bg.input-focused [placeholder] {
      color: #4ea783; }
    .modal form .input-row.code-bg.input-focused input,
    .modal form .input-row.code-bg.input-focused input::placeholder,
    .modal form .input-row.code-bg.input-focused .hint-message,
    .modal form .input-row.code-bg.input-focused [placeholder] {
      color: #4ea783; }
    .modal form .input-row.code-bg.input-success label:before {
      background-color: #4ea783; }
    .modal form .input-row.code-bg.input-success input,
    .modal form .input-row.code-bg.input-success input:-ms-input-placeholder,
    .modal form .input-row.code-bg.input-success .hint-message,
    .modal form .input-row.code-bg.input-success [placeholder] {
      color: #4ea783; }
    .modal form .input-row.code-bg.input-success input,
    .modal form .input-row.code-bg.input-success input::placeholder,
    .modal form .input-row.code-bg.input-success .hint-message,
    .modal form .input-row.code-bg.input-success [placeholder] {
      color: #4ea783; }
    .modal form .input-row.code-bg.input-warning label:before {
      background-color: #ffcc2b; }
    .modal form .input-row.code-bg.input-warning input,
    .modal form .input-row.code-bg.input-warning input:-ms-input-placeholder,
    .modal form .input-row.code-bg.input-warning .hint-message,
    .modal form .input-row.code-bg.input-warning [placeholder] {
      color: #ffcc2b; }
    .modal form .input-row.code-bg.input-warning input,
    .modal form .input-row.code-bg.input-warning input::placeholder,
    .modal form .input-row.code-bg.input-warning .hint-message,
    .modal form .input-row.code-bg.input-warning [placeholder] {
      color: #ffcc2b; }
    .modal form .input-row.code-bg.input-error label:before {
      background-color: #b93750; }
    .modal form .input-row.code-bg.input-error input,
    .modal form .input-row.code-bg.input-error input:-ms-input-placeholder,
    .modal form .input-row.code-bg.input-error .hint-message,
    .modal form .input-row.code-bg.input-error [placeholder] {
      color: #b93750; }
    .modal form .input-row.code-bg.input-error input,
    .modal form .input-row.code-bg.input-error input::placeholder,
    .modal form .input-row.code-bg.input-error .hint-message,
    .modal form .input-row.code-bg.input-error [placeholder] {
      color: #b93750; }
  .modal form .input-wrap {
    display: block;
    position: relative;
    width: 270px;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5;
    color: #636379;
    text-transform: uppercase;
    transition: all .2s ease-in;
    margin: 0.625rem auto 0; }
    .modal form .input-wrap:first-child {
      margin-top: 0; }
    .modal form .input-wrap.focused .input-title::before {
      width: 100%;
      height: 0.125rem;
      background-color: #b5b5c7; }
    .modal form .input-wrap.focused.input-success .input-title::before {
      width: 100%;
      background-color: #4ea783;
      transition: all .2s ease-in, background-color 0s; }
    .modal form .input-wrap.focused.input-error .input-title::before {
      width: 100%;
      background-color: #b93750;
      transition: all .2s ease-in,background-color 0s; }
  .modal form .input-title {
    position: relative; }
    .modal form .input-title::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0.0625rem;
      left: 50%;
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
      bottom: 0;
      background-color: #48485e;
      transition: all .2s ease-in;
      z-index: 2; }
    .modal form .input-title::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.0625rem;
      left: 0;
      bottom: 0;
      background-color: #48485e;
      transition: all .2s ease-in; }
  .modal form .input-hint {
    min-height: 1.875rem;
    padding-top: 0.125rem;
    transition: all .2s ease-in;
    font-size: 0.6875rem;
    font-weight: 400;
    letter-spacing: 0.0125rem;
    line-height: 1.1;
    text-transform: none;
    color: #fff; }
    .modal form .input-hint p {
      opacity: 0;
      transition: all .2s;
      text-align: center; }
  .modal form .input-error .input-hint p {
    opacity: 1;
    transition: all .2s ease-in,color 0s;
    color: #b93750; }
  .modal form .input-error .input-title {
    color: #b93750; }
    .modal form .input-error .input-title::before {
      width: 100%;
      background-color: #b93750;
      transition: all .2s ease-in,background-color 0s; }
    .modal form .input-error .input-title::after {
      transition: 0s all .2s ease-in;
      background-color: #b93750; }
  .modal form .input-success .input-title::after {
    transition: 0s all .2s ease-in;
    background-color: #4ea783; }
  .modal-overlay {
    display: none;
    font-family: "Fira Sans", sans-serif;
    background-color: rgba(28, 27, 47, 0.85);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999999; }
  .modal-block {
    display: inline-block;
    width: 100%;
    max-width: 73.125rem;
    margin-left: auto;
    margin-right: auto;
    color: #a9aaba;
    border-radius: 0.375rem; }
    .modal-block p:not(:last-child) {
      margin-bottom: 0.75rem; }
  .modal-title {
    position: relative;
    text-align: left;
    z-index: 1;
    display: block;
    width: 100%;
    height: 4.5rem;
    padding-left: 1rem;
    border-radius: 0.375rem 0.375rem 0 0;
    background-color: #35335a; }
    .modal-title h1 {
      font-size: 1.5rem;
      color: #eeedfa;
      font-weight: 300;
      line-height: 4.5rem;
      margin: 0;
      height: 2.25rem; }
  .modal-body {
    display: block;
    float: left;
    color: #a9aaba;
    position: relative;
    width: 100%;
    z-index: 1; }
  .modal-text {
    text-align: left;
    color: #a9aaba;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    padding: 1.5rem 1.5rem 0; }
    .modal-text.center {
      text-align: center; }
    .modal-text.space-between-content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      margin: 0 auto 1.5rem; }
  .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    color: #a9aaba;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin-right: 2.12766%;
    padding-top: 1.5rem;
    width: 100%; }
    .modal-footer:not(.modal-footer_btns) .btn-main.btn-main__success {
      line-height: 3rem; }
  .modal-footer_btns {
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .modal-close {
    position: absolute;
    z-index: 99;
    top: -33px;
    right: 0;
    cursor: pointer;
    border-radius: 5px;
    width: 24px;
    height: 24px; }
    .modal-close:before, .modal-close:after {
      position: absolute;
      content: '';
      top: -4px;
      right: 11px;
      height: 130%;
      width: 2px;
      border-radius: 3px;
      background: #9e9ab8;
      cursor: pointer;
      transition: all 0.2s ease-out; }
    .modal-close:before {
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
    .modal-close:after {
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .modal-close:hover:before, .modal-close:hover:after {
      background: #fff; }
  .modal.hidden-modal {
    top: 0; }
  .modal.dfa-popup {
    z-index: 30; }
    .modal.dfa-popup .modal-title {
      text-align: center;
      padding: 0; }
    .modal.dfa-popup .modal-body {
      margin: 0;
      width: 100%;
      padding: 0; }
    .modal.dfa-popup .modal-text {
      padding-bottom: 0.75rem; }

#secondary-overlay {
  z-index: 99999; }

.secondary {
  display: none; }
  .secondary-body.seemail .modal-text.secondary-text {
    color: #8bd05d;
    text-align: center;
    padding: 3.125rem 0 3.8125rem;
    min-height: 8rem; }

.video-bg-wrapper {
  position: absolute;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 0; }
  .video-bg-wrapper__fixed {
    background-position: center 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: auto; }

.video-bg-position {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 0;
  left: 50%;
  object-fit: cover;
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
  .video-bg-position__center {
    top: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  font-family: "PT Sans";
  color: #fffefe;
  box-sizing: border-box; }

input[type="email"],
input[type="password"] {
  font-size: 20px;
  width: 266px;
  height: 49px;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  background: url("images/input.png") 0 0 no-repeat; }
  input[type="email"]:focus,
  input[type="password"]:focus {
    background-position: 0 -49px; }
  input[type="email"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder {
    color: grey; }

body {
  height: 100%;
  min-height: 814px;
  text-align: center;
  background: url("images/background.jpg") center top/cover no-repeat black; }
  body .form_main {
    display: inline-block;
    width: 451px;
    height: 814px;
    margin-left: 525px;
    text-align: center;
    background: url("images/form_1.png") center center no-repeat; }
    body .form_main img.dragonglory_logo {
      margin: 130px auto 0; }
    body .form_main .form_email_text {
      font-size: 20px;
      margin-top: 14px;
      color: #f5eed7;
      font-weight: bold; }
    body .form_main .social_login {
      display: inline-block;
      cursor: pointer;
      background: url("images/fb-btn.png") no-repeat;
      width: 264px;
      height: 53px; }
      body .form_main .social_login.fb {
        background-position: 0 0; }
      body .form_main .social_login.fb:hover {
        background-position: 0 -53px; }
      body .form_main .social_login.fb:active {
        background-position: 0 -106px; }
    body .form_main .play_btn {
      display: inline-block;
      width: 294px;
      height: 113px;
      margin-top: 35px;
      cursor: pointer;
      background: url("images/play-btn.png") 0 0 no-repeat; }
      body .form_main .play_btn:hover {
        background-position: 0 -114px; }
      body .form_main .play_btn:active {
        background-position: 0 -228px; }
      body .form_main .play_btn:disabled {
        background-position: 0 0;
        cursor: not-allowed; }
  body .info_links {
    color: #fffefe;
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: 15px auto 0;
    width: 100%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); }
    body .info_links a {
      text-decoration: underline; }
      body .info_links a:hover {
        text-decoration: none; }
  body .logo_101xp {
    position: relative;
    top: -10px; }

.bg_input {
  display: inline-block;
  width: 100%;
  position: relative; }

.label_text {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
  color: #ffd865;
  display: table;
  font-size: 14px;
  height: 40px;
  padding: 0 10px;
  position: absolute;
  left: -28%;
  text-align: left;
  top: 24px;
  right: 0;
  min-width: 188px;
  z-index: 2; }
  .label_text:after {
    content: "";
    display: block;
    right: -8px;
    position: absolute;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid rgba(0, 0, 0, 0.8); }
  .label_text label {
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    font-size: 16px;
    padding: 0;
    width: auto; }
    .label_text label.error {
      color: #fff; }
    .label_text label.badchecked {
      color: #dc2411; }
    .label_text label.checked {
      color: #0ca331; }

@media screen and (max-width: 990px) and (min-width: 701px) {
  .form_main,
  .secondary form {
    position: absolute !important;
    top: 0;
    left: auto;
    right: 0;
    margin: auto !important; }
  .secondary form {
    top: 245px; } }

@media screen and (max-width: 700px) {
  .form_main,
  .secondary form {
    margin: 0 !important; }
  .secondary form {
    top: 245px; } }

.form_main .play_btn {
  width: 294px;
  height: 113px;
  margin-top: 35px;
  cursor: pointer;
  background: url(images/play-btn.png) no-repeat; }

.form_main .play_btn {
  width: 294px;
  height: 113px;
  margin-top: 35px;
  cursor: pointer;
  background: url(images/play-btn.png) no-repeat; }

.wrap-btn div {
  display: none; }

.modal-close {
  display: none; }

.modal-open {
  display: -ms-flexbox;
  display: flex; }

.popup-common {
  display: none;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 500px;
  margin: 100px auto;
  position: absolute;
  top: 30%;
  left: 40%; }

.popup-common__text {
  margin-bottom: 20px;
  font-family: FiraSans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #A9AABA;
  margin-left: 20px;
  margin-right: 20px; }

.popup-common__close {
  position: absolute;
  right: 9px;
  top: -35px;
  font-size: 27px; }

.popup-input-wrap {
  display: none !important; }

.cbt-success {
  width: 100%;
  padding: 0;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.193416); }

.cbt-success__heading {
  padding: 28px 0;
  background: #35335A;
  border-radius: 6px 6px 0px 0px;
  position: relative;
  overflow: hidden; }
  .cbt-success__heading h4 {
    font-family: FiraSans, sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: #EEEDFA; }

.cbt-success__content {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  background: linear-gradient(0deg, #23233A 0%, #27273F 43.81%, #23233A 98.57%);
  border-radius: 0 0 6px 6px; }

.cbt-success__content button {
  width: 200px;
  height: 50px;
  background: linear-gradient(0deg, #38AF90 0%, #78B84D 100%);
  border-radius: 6px;
  cursor: pointer; }
  .cbt-success__content button span {
    font-family: FiraSans, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; }

.mail-control {
  display: none !important; }
