.subnavWrap {
    background: #F9F5FF;
    padding: 40px 0 0 20px;
}

.subnav {
    display: flex;
    width: 97%;
}

.subnav span {
    margin-right: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}

.subnav span:nth-child(2n) {
    color: #D0D5DD;
}

.subnav span:last-child {
    color: #D0D5DD;
}

.subnav span:hover {
    color: #7F56D9;
    cursor: default;
}

@media screen and (max-width: 320px) {
    .subnav {
        margin-top: 20px;
        margin-left: 20px;
    }
    .subnavWrap {
        padding: 2px 0 20px 0;
    }
}
