.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 40px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrapper div {
    display: flex;
    width: 32%;
    justify-content: center;
}

.wrapper div:nth-child(1){
    justify-content: flex-start;
}

.wrapper div:nth-child(3){
    justify-content: flex-end;
}

.iconImg1, .iconImg2 {
    margin-right: 45px;
}

.iconImg3{
    margin-right: unset;
}


.location span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    cursor: default;
    margin-left: 12px;
}

.location span:hover {
   color: #7F56D9;
}

.iconImg {
    width: 16px;
    height: 16px;
    margin-right: 45px;
}

@media screen and (max-width: 320px) {
    .location span, .iconBox img {
        display: none;
    }
    .wrapper div {
        justify-content: center;
    }
}
