.footer {
    background: #1D2939;
    color: #fff;
    padding: 56px 24px 24px 24px;
}

.firstLine {
    display: flex;
    justify-content: space-between;
}

.firstLineInfo {
    display: flex;
    flex-direction: column;
}

.firstLineInfo span:nth-child(1){
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.firstLineInfo span:nth-child(2){
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #98A2B3;
}

hr {
    border: none;
    background-color: #344054;
    color: #344054;
    height: 2px;
    margin: 56px 0;
}

.inputBox {
    height: 44px;
}

.firstLineInput {
    width: 350px;
    height: 100%;
    border-radius: 8px;
}

.footerSubscribe {
    width: 114px;
    height: 100%;
    background: #7F56D9;
    border-radius: 8px;
    margin-left: 8px;
}

.footerSubscribe span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footerCategories {
    display: flex;
    justify-content: space-between;
}

.footerCategories div {
    width: 25%;

}

.footerCategories div li {
    list-style-type: none;
    padding: unset;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F2F4F7;
}

.footerCategories div ul {
    padding: unset;
}

.footerCategories span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #98A2B3;
}

.copyright {
    font-weight: 400;
    font-size: 16px;
    color: #667085;
    margin-top: 88px;
}

@media screen and (max-width: 768px) {
    .firstLineInput {
        width: 52%;
    }
}

@media screen and (max-width: 320px) {

    .footerCategories {
        flex-direction: column;
    }

    .firstLine {
        flex-direction: column;
    }

    .firstLineInput {
        width: 100%;
        margin-bottom: 8px;
    }
    .footerSubscribe {
        width: 100%;
        margin-bottom: 8px;
    }

    hr {
        margin: 66px 0 30px;
    }
}
